.app.dark {
  --bg-color: #686868;
  --inverted-bg-color: #fffefe;

  --primary-color: #b6b600;
  --secondary-color: #ffff00;
  --inverted-primary-color: #4d4d00;
  --inverted-secondary-color: #949400;
}