.app.light {
  --bg-color: #fffefe;
  --inverted-bg-color: #686868;

  --primary-color: #4d4d00;
  --secondary-color: #949400;
  --inverted-primary-color: #b6b600;
  --inverted-secondary-color: #ffff00;
}